html {
    background-color: #D7D7D7;
}

.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
}

header {
    padding-top: 20px;
    background-image: url(../images/danny_banner.jpg);
    color: #fff;
    font-size: 120%;
    text-align: center;
}


/* Site Navigation */
.site-nav {
    margin-top: 20px;
}

.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px;
}

.site-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border: 3px solid #fff;
    border-radius: 10px;
}

.site-nav a:hover {
    background-color: #fff;
    color: #012A61;
}
/* End Site Navigation */

.content-area {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}



/* Thumbnail Styles */

.thumbnails {
    margin-right: -15px;
}

.thumbnails a {
    float: left;
    width: 25%;
    padding-right: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.thumbnails img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: all .2s ease-in-out;
}

.thumbnails:hover img {
    opacity: .6;
    transform: scale(.92);
}

.thumbnails img:hover {
    opacity: 1;
    transform: scale(1) rotate(2deg);
    box-shadow: 0 0 7px rgba(0, 0, 0, .5);
}

/* End Thumbnail Styles */

.sidebar {
    font-size: 85%;
}

footer {
    background-color: #012A61;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}



/* Grid System */

.row {
    margin-right: -20px;
}
.col {
    float: left;
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
}

.col-xs-11 {width: 91.662%;}
.col-xs-10 {width: 83.332%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.662%;}
.col-xs-7 {width: 58.331%;}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.662%;}
.col-xs-4 {width: 33.332%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.662%;}
.col-xs-1 {width: 8.332%;}

@media screen and (min-width: 768px) {

    .row {
        margin-right: -40px;
    }
    
    .col {
        padding-right: 40px
    }

    .col-sm-11 {width: 91.662%;}
    .col-sm-10 {width: 83.332%;}
    .col-sm-9 {width: 75%;}
    .col-sm-8 {width: 66.662%;}
    .col-sm-7 {width: 58.331%;}
    .col-sm-6 {width: 50%;}
    .col-sm-5 {width: 41.662%;}
    .col-sm-4 {width: 33.332%;}
    .col-sm-3 {width: 25%;}
    .col-sm-2 {width: 16.662%;}
    .col-sm-1 {width: 8.332%;}
}

@media screen and (min-width: 1024px) {
    .col-md-11 {width: 91.662%;}
    .col-md-10 {width: 83.332%;}
    .col-md-9 {width: 75%;}
    .col-md-8 {width: 66.662%;}
    .col-md-7 {width: 58.331%;}
    .col-md-6 {width: 50%;}
    .col-md-5 {width: 41.662%;}
    .col-md-4 {width: 33.332%;}
    .col-md-3 {width: 25%;}
    .col-md-2 {width: 16.662%;}
    .col-md-1 {width: 8.332%;}
}

@media screen and (min-width: 1280px) {
    .col-lg-11 {width: 91.662%;}
    .col-lg-10 {width: 83.332%;}
    .col-lg-9 {width: 75%;}
    .col-lg-8 {width: 66.662%;}
    .col-lg-7 {width: 58.331%;}
    .col-lg-6 {width: 50%;}
    .col-lg-5 {width: 41.662%;}
    .col-lg-4 {width: 33.332%;}
    .col-lg-3 {width: 25%;}
    .col-lg-2 {width: 16.662%;}
    .col-lg-1 {width: 8.332%;}
}


/* End Grid System*/

.row:before,
.row:after,
.group:before,
.group:after {
    content: "";
    display: table;
}
.row:after,
.group:after {
    clear: both;
}
.row,
.group {
    zoom: 1;
}


.fix {
    clear: both;
}